* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    margin: 0px 0px;
}

#navbar::before {
    content: "";
    position: absolute;
    background: black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}

.logo {
    margin: 2px 0px 0px 20px;
}

.logo a img {
    border-radius: 51px;
    height: 70px;
    width: 152px;
}

.logo a img:hover {
    transform: scale(1.05);
}

#navbar ul {
    font-family: 'Baloo Bhai', cursive;
    display: flex;
    font-size: 1.3rem;
    width: 697px;
    margin: 0px 10px 0px 401px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}

.item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    padding: 0px 0px 0px;
    transform: scale(1.15);
}

.item {
    list-style: none;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 10px 80px;
    background-color: beige;
    font-style: normal;
    font-size: 17px;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.2rem;
    background-color: #7e90f7;
    color: white;
    border-radius: 25px;
    margin: 20px auto;
    border: 2px solid black;
    width: 257px;
    height: 50px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
}

.btn:hover {
    background-image: linear-gradient(white, skyblue);
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.h-primary {
    margin: 15px auto;
    color: #03c9fa;
    font-size: 47px;
    background-color: rgb(203 215 203 / 50%);
    border-radius: 10px;
    padding: 0px 10px;
    width: 525px;
    display: flex;
    justify-content: center;
}

#content {
    margin: 0px 0px;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

.content_img {
    height: 200px;
    width: 500px;
    margin: 3px 290px;
}

.items {
    background-color: #e7e7bb;
    margin: 0px 0px 80px;
    padding: 2px;
}

.items h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items h3 {
    margin: 10px 0px 0px 16px;
}

p {
    margin: 9px;
    padding: 8px 0px 0px 0px;
    color: black;
}

.author {
    margin: 0px 0px 0px 827px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-size: 30px;
    color: white;
    background-color: black;
    opacity: 0.4;
}

.formbox::before {
    content: " ";
    background-image: linear-gradient(rgba(23, 45, 23, 0.2), rgba(32, 23, 42, 0.1)), url('/images/library.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 20px;
    z-index: -1;
    position: absolute;
    top: 276vh;
    opacity: 0.7;
}

#form .h-primary {
    color: white;
    background-color: black;
}

.formbox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input,
textarea {
    display: block;
    padding: 3px;
    margin: 30px auto;
    width: 20%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

textarea {
    width: 60%;
    font-size: 20px;
}

.final {
    display: flex;
    flex-direction: row;
    margin: -31px 80px;
    padding: 0px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer {
    background: black;
    color: white;
    padding: 9px 2px;
    justify-content: center;
    align-items: center;
    margin: 38px 0px 5px 0px;
}